.image-wrapper {
  padding: 5px 10px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}
.clock-image {
  width: 80%;
  max-width: 220px;
  height: auto;
}
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  max-width: 100%;
}
.hour-arrow {
  top: 50%;
}
.arrow-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffc8dd;
}
