.input-wrapper {
  width: 100%;
  padding: 0.5rem 0rem;
}
.label-style {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column;
  flex-shrink: 0;
}
.input-style,
.label-style > select {
  margin-top: 0.3rem;
  width: 100% !important;
  max-width: 100%;
  padding: 0.46rem;
  border-radius: 8px;
  font-size: 0.95rem !important;
}

.input-style {
  text-align: left;
  background: transparent;
  border: 1.8px solid #9c89b8;
}
.input-style:focus {
  outline: none;
}
.hover-cursor:hover {
  cursor: pointer;
}
.month-control-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  border: none !important;
}
.date-picker-padding {
  padding: 0.3rem 2.5rem !important;
}
.month-control-wrapper > button {
  border: none;
  background-color: transparent;
  padding: 0.46rem 0.8rem;
  border: 1.8px solid #9c89b8;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 0.97rem;
  transition: all 0.2s;
}
.month-control-wrapper:hover {
  cursor: initial !important;
  background-color: initial !important;
  color: initial !important;
}
.month-control-wrapper > button:hover {
  cursor: pointer;
  background-color: #9c89b8;
  color: #fff;
}
.close-part {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media all and (min-width: 576px) {
  .input-wrapper {
    width: 50%;
    padding: 0.5rem 0.6rem;
  }
  .date-picker-padding {
    padding: 1rem 3rem !important;
  }
}
