.input-wrapper {
  width: 100%;
  padding: 0.5rem 0rem;
  margin: 3px 0px;
}
.label-style {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column;
  flex-shrink: 0;
  position: relative;
}
.input-style,
.label-style > select {
  margin-top: 0.3rem;
  width: 100% !important;
  max-width: 100%;
  padding: 0.46rem;
  border-radius: 8px;
  font-size: 0.95rem !important;
}

.input-style {
  text-align: left;
  background: transparent;
  border: 1.8px solid #9c89b8;
  transition: all 0.3s;
}
.filling-style {
  border: 1.8px solid #a796c0;
  background-color: #d7d0e3;
}
.input-style:focus {
  outline: none;
}
.hover-cursor:hover {
  cursor: pointer;
}
.month-control-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  border: none !important;
}
.date-picker-padding {
  padding: 0.3rem 2.5rem !important;
}
.month-control-wrapper > button {
  border: none;
  background-color: transparent;
  padding: 0.46rem 0.8rem;
  border: 1.8px solid #9c89b8;
  border-radius: 8px;
  font-weight: lighter;
  font-size: calc(0.7rem + 0.2vw);
  transition: all 0.2s;
}
.month-control-wrapper:hover {
  cursor: initial !important;
  background-color: initial !important;
  color: initial !important;
}
.month-control-wrapper > button:hover {
  cursor: pointer;
  background-color: #9c89b8;
  color: #fff;
}
.close-part {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.validName {
  background-color: #dd535e;
  border: 1.8px solid #dd535e;
}
.invalidMessage {
  position: absolute;
  top: 61px;
}
.invalidMessage,
.invalid-time {
  color: #dd535e;
  overflow: hidden;
  transition: all 0.3s;
}
@media all and (min-width: 576px) {
  .input-wrapper {
    width: 50%;
    padding: 0.5rem 0.6rem;
  }
  .date-picker-padding {
    padding: 1rem 8rem !important;
  }
}
@media all and (min-width: 768px) {
  .date-picker-padding {
    padding: 1rem 13rem !important;
  }
}
