.list-item-style {
  width: 100%;
}
.item-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.item-desc {
  display: flex;
  padding: 0.7rem 0.5rem;
  width: 100%;
  justify-content: space-between;
  border-radius: 0.4rem;
  color: #49444c;
}
