.list-item-style {
  margin: 15px 0px;
}
.item-container {
  display: flex;
  flex-flow: row nowrap;
}
.item-desc {
  display: flex;
  padding: 0.6rem 0.5rem;
  width: 100%;
  justify-content: space-between;
  border-radius: 0.4rem;
  color: #49444c;
}
