.task-adding-button-container {
  width: 100%;
  padding: 1.2rem 0rem;
}
.task-adding-button {
  background: #9c89b8;
  color: #fff;
  font-size: 1.05rem;
  padding: 0.7rem 0px;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin: 0rem 0rem;
}
@media all and (min-width: 576px) {
  .task-adding-button-container {
    width: 10rem;
    padding: 1.2rem 0.5rem 0rem;
  }
}
