.timer-container {
  border: 1.8px solid #ffc8dd;
  max-width: 100%;
  max-width: 220px;
  margin: 25px auto;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
}

@media all and (min-width: 500px) {
  .timer-container {
    max-width: 320px;
  }
}
@media all and (min-width: 576px) {
  .timer-container {
    max-width: 600px;
  }
}
