.add-section {
  width: 100vw;
  height: 100vh;
  margin: 50px auto;
  flex-shrink: 0;
  position: fixed;
  top: -50px;
  left: 1500px;
  background-color: red;
}
.show-animation {
  animation: showAnimations 0.5s ease 0.2s 1 normal forwards;
}

@keyframes showAnimations {
  to {
    left: 0px;
  }
}
