.app-container-style {
  width: 100%;
  max-width: 700px;
  height: auto;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.7s;
}
.move-toSide-animation {
  animation: moveToSide 1.8s ease 0s 1 normal backwards;
}

@keyframes moveToSide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-2000px);
  }
}
@media all and (min-width: 768px) {
  .app-container-style {
    margin: 2rem 0px;
  }
}
