.list-title h4 {
  text-align: right;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 10px 0px;
}
.list-style {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-bottom: 15px;
}
.no-task-available {
  margin: 20px 0px;
  font-size: 1.1rem;
  grid-column: span 2;
  text-align: center;
}
@media all and (min-width: 768px) {
  .list-style {
    grid-template-columns: 1fr 1fr;
  }
}
